IO_LOC "clk_33p33" E2;
IO_LOC "blink_return_output[0]" L5;

IO_PORT "clk_33p33" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "blink_return_output[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
